<div id="buttons">
  <button class="btn-color-scheme-toggle">
    <span class="light"><img alt="Light mode toggle" src="/images/sun.svg"></span>
    <span class="dark"><img alt="Dark mode toggle" src="/images/moon.svg"></span>
  </button>
  <a href="#top" class="back-to-top-link" aria-label="Scroll to Top">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polyline points="18 15 12 9 6 15" />
    </svg>
  </a>
  <span class="closecollapsibles" id="closeCollapsibles">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polygon points="5.075,4 5.075,20 18.925,12" fill="currentColor"/>
    </svg>
  </span>
  <span class="opencollapsibles" id="openCollapsibles">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polygon points="4,5.075 20,5.075 12,18.925" fill="currentColor"/>
    </svg>
  </span>
</div>