<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}
    <link href="/style/main.css" rel="stylesheet">
    <script async defer
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_CHTML">
    </script>
    <script type="module" async defer src="/scripts/color-scheme.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        showMathMenu: false,
        CommonHTML: { linebreaks: { automatic: true } },
        "HTML-CSS": { linebreaks: { automatic: true } },
        SVG: { linebreaks: { automatic: true } }
      });
    </script>
    <script async defer src="https://www.googletagmanager.com/gtag/js?id=G-CQWRWZCSZW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CQWRWZCSZW');
    </script>
    <title>{{title}} - Exponential Idle Guides</title>
    <script>

      const root = document.documentElement;
      const query_root  =  document.querySelector(':root');
      const sidebar_list = ['GuideSidebar','HeaderSidebar','ResourceSidebar','sidebarmain'];
      const close_btn_list = ['GuideClose', 'HeaderClose', 'ResourceClose'];
      var curr_sidebar = 'none';
      var max_sidebar_height = 0;
      var Mobile = false;
      
      function mobile_setup(){
        if (root.classList.contains('mobile')){
          if (screen.availHeight > screen.availWidth){
            document.querySelector(':root.mobile').style.setProperty('--sidebar-column-count', '2');
          } else {
            document.querySelector(':root.mobile').style.setProperty('--sidebar-column-count', '3');
          }
        }
        return
      }

      function Set_Device(new_class, old_class){
        window.alert(getComputedStyle(query_root).getPropertyValue('--sidebar-content-padding:0px;'));
        root.classList.add(new_class);
        try{root.classList.remove(old_class);}catch(error){}
        mobile_setup();
      }

      if (navigator.userAgentData.mobile) {
        Set_Device("mobile","desktop");
      } else {
        Set_Device("desktop","mobile");
      }

      function openSidebar(sidebars,sidebarheaders, force=false) {
        for (const sidebar of sidebars) {
          document.getElementById(sidebar).style.zIndex = "0";
        }
        document.getElementById(sidebars[0]).style.zIndex = "10";
        document.getElementById('sidebarmain').style.zIndex = "11";
        if (!root.classList.contains('mobile')) {
          if ((getComputedStyle(query_root).getPropertyValue('--btn-marginLeft') == "0%" 
              && getComputedStyle(query_root).getPropertyValue('--sidebar-width') == "0%") || force) {
            max_width = 0;
            mainwidth = document.getElementById("sidebarmain").offsetWidth;
            
            for (const sidebar of sidebars) {
              document.getElementById(sidebar + "invis").style.width = "auto";
              if(document.getElementById(sidebar + "invis").offsetWidth > max_width){
                max_width = document.getElementById(sidebar + "invis").offsetWidth;
              }
              document.getElementById(sidebar + "invis").style.width = 0;
            }

            document.getElementById(sidebarheaders).style.width = "auto";
            max_header_width = document.getElementById(sidebarheaders).offsetWidth;
            document.getElementById(sidebarheaders).style.width = "0%";

            if (max_width <= 0 && max_header_width <= 0) {
              query_root.style.setProperty('--sidebar-width', 'auto');
              query_root.style.setProperty('--btn-marginLeft', 'auto');
            } else {
              view_max = getComputedStyle(query_root).getPropertyValue('--sidebar-desktop-max-width');
              if(max_header_width >= window.visualViewport.width * view_max){
                output = max_header_width + window.visualViewport.width * 0.02;
              } else if (max_width >= window.visualViewport.width * view_max) {
                output = window.visualViewport.width * view_max;
              } else {
                output = max_width;
              }
              if((output + mainwidth) >= window.visualViewport.width){
                output = window.visualViewport.width * 0.96 - mainwidth;
              
              }
              query_root.style.setProperty('--sidebar-width', output + "px");
              query_root.style.setProperty('--btn-marginLeft', (output + window.visualViewport.width * 0.04) + "px");
              query_root.style.setProperty('--sidebar-padding-lr', window.visualViewport.width * 0.02 + "px");
            }
          }
        } else {
          query_root.style.setProperty('--sidebar-content-padding', '8px');
          alerts=[(getComputedStyle(query_root).getPropertyValue('--btn-marginTop').toString() 
            + ' , ' 
            + getComputedStyle(query_root).getPropertyValue('--sidebar-height').toString() 
            + ' , ' 
            + (curr_sidebar != sidebars[0]).toString()
            + ' , ' 
            + ((getComputedStyle(query_root).getPropertyValue('--btn-marginTop') == "0%" 
              && getComputedStyle(query_root).getPropertyValue('--sidebar-height') == "0%") 
              || curr_sidebar != sidebars[0]).toString())];
          if (((getComputedStyle(query_root).getPropertyValue('--btn-marginTop') == "0%" 
              && getComputedStyle(query_root).getPropertyValue('--sidebar-height') == "0%")
              || curr_sidebar != sidebars[0])
              || force) {
            bonus_offset=document.getElementById(sidebars[0]).offsetHeight;
            curr_sidebar = sidebars[0];
            
            document.getElementById(sidebars[0]+"invis").style.height="auto";
            max_height=document.getElementById(sidebars[0]+"invis").offsetHeight;
            max_sidebar_height = max_height;
            alerts.push('\nmax_height: ' + max_height.toString());
            document.getElementById(sidebars[0]+"invis").style.height=0;

            if (max_height <= 0) {
              query_root.style.setProperty('--sidebar-height', 'auto');
              query_root.style.setProperty('--btn-marginTop', 'auto');
            } else {
              if((max_height + bonus_offset + document.getElementById("sidebarmain").offsetHeight) >= window.visualViewport.height){
                max_height = window.visualViewport.height - document.getElementById("sidebarmain").offsetHeight - bonus_offset;
                query_root.style.setProperty('--btn-marginTop', (max_height + bonus_offset) + "px");
                alerts.push('\nmaximum: ' + (max_height + bonus_offset).toString());
              } else {
                query_root.style.setProperty('--sidebar-padding-b', window.visualViewport.height * 0.01 + "px");
                query_root.style.setProperty('--btn-marginTop', (max_height + window.visualViewport.height * 0.01) + "px");
                alerts.push('\nnormal: (' + (max_height + window.visualViewport.height * 0.01).toString() + ', ' + max_height.toString() + ', ' + window.visualViewport.height.toString() + ')');
              }
              window.alert(''.concat(...alerts));
              query_root.style.setProperty('--sidebar-height', max_height + "px");
              query_root.style.setProperty('--sidebar-transition-time', '0.8s');
              query_root.style.setProperty('--sidebar-text-transition-time', '0.5s');
            }
          }
        }
      }

      function CloseSidebar(){
        if (!root.classList.contains('mobile')){
          query_root.style.setProperty('--sidebar-width', "0%");
          query_root.style.setProperty('--btn-marginLeft', "0%");
          query_root.style.setProperty('--sidebar-padding-lr', "0");
        } else {
          query_root.style.setProperty('--sidebar-transition-time', '0.5s');
          query_root.style.setProperty('--sidebar-text-transition-time', '0.3s');
          query_root.style.setProperty('--sidebar-height', "0%");
          query_root.style.setProperty('--btn-marginTop', "0%");
          query_root.style.setProperty('--sidebar-padding-b', "0");
        }
        query_root.style.setProperty('--sidebar-content-padding', '0');
        var curr_sidebar='none';
        return
      }

      window.addEventListener('click', function(e){
        if ((!root.classList.contains('mobile')
            && Math.round(document.getElementById("HeaderSidebar").offsetWidth - window.visualViewport.width * 0.04) >= Number(window.getComputedStyle(document.body).getPropertyValue('--sidebar-width').match(/\d+/)[0]) 
            && getComputedStyle(query_root).getPropertyValue('--sidebar-width') != "0%")
            ||
            (document.getElementById(curr_sidebar).offsetHeight >= Number(window.getComputedStyle(document.body).getPropertyValue('--sidebar-height').match(/\d+/)[0]) 
              && getComputedStyle(query_root).getPropertyValue('--sidebar-height') != "0%")) {
          bool = true;
          for(const btn of close_btn_list){
            if (document.getElementById(btn).contains(e.target)==true){
              bool=false;
              break;
            }
          }
          if(bool) {
            bool=false
            for(const sidebars of sidebar_list){
              if (document.getElementById(sidebars).contains(e.target)==true){
                bool = true;
                break;
              }
            }
          }
          if(!bool){
            CloseSidebar();
          }
        }
      })

      function openpopup(display_id){
        if(document.getElementById(display_id).style.display == "block"){
          document.getElementById(display_id).style.display = "none";
        } else {
          document.getElementById(display_id).style.display = "block";
        }
      }

      screen.orientation.addEventListener("change", function(e){
        mobile_setup();
        if(curr_sidebar!='none'){
          sidebar_list.sort(function(x,y){ return x == curr_sidebar ? -1 : y == curr_sidebar ? 1 : 0; });
          CloseSidebar();
          openSidebar(sidebar_list, 'SidebarHeaders', true);
        }
      });
    </script>
  </head>
  <body>
    {% block sidebar %}{% endblock %}

    <header class="page-section header" id="top">
      <button class="btn-color-scheme-toggle">
        <span class="light"><img alt="Light mode toggle" src="/images/sun.svg"></span>
        <span class="dark"><img alt="Dark mode toggle" src="/images/moon.svg"></span>
      </button>
      <h1><a href="/">Exponential Idle Guides</a></h1>
      {{ nav | safe }}
    </header>

    <main class="page-section content-wrapper">
      {% block title %}
        <h2>{{title}}</h2>
        {% if subtitle %}
          <p class="subtitle">{{ subtitle }}</p>
        {% endif %}
      {% endblock %}

      {% block main %}{% endblock %}

      {% if nav %}
        <div class="post-content-nav">
        </div>
      {% endif %}
    </main>
    
    <footer class="page-section footer">
      <div class="footer__section footer__section--main">
        {{ nav | safe }}
      </div>
      <div class="footer__section">
        <p>Any feedback?   <a href="https://docs.google.com/forms/d/e/1FAIpQLSdje1OWIgI1vqMry6U1E51bxh3VE4tLilTdRyqun1aVmP7pag/viewform">
          Submit it to us.
        </a>
        <p>Want to see the responses? <a href="https://bit.ly/ex-guide-suggestion-responses">
          Take a look.
        </a>
      </div>
      <div class="footer__section">
        <p>Guides copyright <a href="https://github.com/LEBaldy">LE★Baldy</a> & <a href="https://github.com/Snaeks">Snaeky</a>.
        <p>Website created by <a href="https://ticklethepanda.dev">TickleThePanda</a>.
      </div>
      
      <a href="#top" class="back-to-top-link" aria-label="Scroll to Top">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="18 15 12 9 6 15" />
        </svg>
      </a>
    </footer>
  </body>
</html>
