<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}
    <link href="/style/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/scripts/slugify.js"></script>
    <script type="module" src="/scripts/init.js"></script>
    <script defer 
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-chtml-full.min.js">
    </script>
    <script type="text/javascript" defer src="/scripts/jquery-functions.js"></script>
    <script type="module" defer src="/scripts/color-scheme.js"></script>
    <script type="module" defer src="/scripts/sidebar/open-sidebars.js"></script>
    <script type="module" defer src="/scripts/sidebar/close-sidebars.js"></script>
    <script type="module" defer src="/scripts/sidebar/sidebar-btns.js"></script>
    <script type="module" defer src="/scripts/collapsibles.js"></script>
    <script type="module" defer src="/scripts/eylanding.js"></script>
    <script type="module" defer src="/scripts/markdown-tables.js"></script>
    <script type="module" defer src="/scripts/color-tags.js"></script>
    <script type="module" defer src="/scripts/blockquote-copy.js"></script>
    <script type="module" defer src="/scripts/popup.js"></script>
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js"></script>
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.7.0/languages/javascript.min.js"></script>
    <script defer>hljs.highlightAll();</script>
    <script defer type="text/x-mathjax-config">
      MathJax.Hub.Config({
        showMathMenu: false,
        CommonHTML: { linebreaks: { automatic: true } },
        "HTML-CSS": { linebreaks: { automatic: true } },
        SVG: { linebreaks: { automatic: true } }
      });
    </script>
    <script defer src="https://www.googletagmanager.com/gtag/js?id=G-CQWRWZCSZW"></script>
    <script defer>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-CQWRWZCSZW');
    </script>
    <title>{{title}} - Exponential Idle Guides</title>
  </head>
  <body>    
    <header class="page-section header" id="top">
      <h1 class="site_title"><a href="/">Exponential Idle Guides</a></h1>
      {{ nav | safe }}
    </header>

    {% block buttons %}{% endblock %}

    {% block sidebar %}{% endblock %}

    <main class="page-section content-wrapper">
      {% block title %}
        <h2>{{title}}</h2>
        {% if subtitle %}
          <p class="subtitle">{{ subtitle }}</p>
        {% endif %}
      {% endblock %}

      {% block main %}{% endblock %}

      {% if nav %}
        <div class="post-content-nav">
        </div>
      {% endif %}
    </main>
    
    <footer class="page-section footer">
      <div class="footer__section footer__section--main">
        {{ nav | safe }}
      </div>
      <div class="footer__section">
        <p>Any feedback?   <a href="https://docs.google.com/forms/d/e/1FAIpQLSdje1OWIgI1vqMry6U1E51bxh3VE4tLilTdRyqun1aVmP7pag/viewform">
          Submit it to us.
        </a>
        <p>Want to see the responses? <a href="https://bit.ly/ex-guide-suggestion-responses">
          Take a look.
        </a>
      </div>
      <div class="footer__section">
        <p>Guides copyright <a href="https://github.com/LEBaldy">LE★Baldy</a>, <a href="https://github.com/Snaeks">Snaeky</a>, and the rest of the <a href="https://github.com/orgs/exponential-idle-guides/people">Ex Guides Team</a>.
        <p>Website created by <a href="https://ticklethepanda.dev">TickleThePanda</a>.
      </div>
    </footer>
  </body>
</html>
