<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}
    <link href="/style/main.css" rel="stylesheet">
    <script defer
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_CHTML">
    </script>
    <script type="module" defer src="/scripts/init.js"></script>
    <script type="module" defer src="/scripts/color-scheme.js"></script>
    <script type="text/javascript" defer src="/scripts/blockquote-copy.js"></script>
    <script type="module" defer src="/scripts/close-sidebars.js"></script>
    <script type="module" defer src="/scripts/open-sidebars.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        showMathMenu: false,
        CommonHTML: { linebreaks: { automatic: true } },
        "HTML-CSS": { linebreaks: { automatic: true } },
        SVG: { linebreaks: { automatic: true } }
      });
    </script>
    <script defer src="https://www.googletagmanager.com/gtag/js?id=G-CQWRWZCSZW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-CQWRWZCSZW');
    </script>
    <title>{{title}} - Exponential Idle Guides</title>
  </head>
  <body>
    {% block sidebar %}{% endblock %}

    <header class="page-section header" id="top">
      <button class="btn-color-scheme-toggle">
        <span class="light"><img alt="Light mode toggle" src="/images/sun.svg"></span>
        <span class="dark"><img alt="Dark mode toggle" src="/images/moon.svg"></span>
      </button>
      <h1><a href="/">Exponential Idle Guides</a></h1>
      {{ nav | safe }}
    </header>

    <main class="page-section content-wrapper">
      {% block title %}
        <h2>{{title}}</h2>
        {% if subtitle %}
          <p class="subtitle">{{ subtitle }}</p>
        {% endif %}
      {% endblock %}

      {% block main %}{% endblock %}

      {% if nav %}
        <div class="post-content-nav">
        </div>
      {% endif %}
    </main>
    
    <footer class="page-section footer">
      <div class="footer__section footer__section--main">
        {{ nav | safe }}
      </div>
      <div class="footer__section">
        <p>Any feedback?   <a href="https://docs.google.com/forms/d/e/1FAIpQLSdje1OWIgI1vqMry6U1E51bxh3VE4tLilTdRyqun1aVmP7pag/viewform">
          Submit it to us.
        </a>
        <p>Want to see the responses? <a href="https://bit.ly/ex-guide-suggestion-responses">
          Take a look.
        </a>
      </div>
      <div class="footer__section">
        <p>Guides copyright <a href="https://github.com/LEBaldy">LE★Baldy</a>, <a href="https://github.com/Snaeks">Snaeky</a>, and the rest of the <a href="https://github.com/orgs/exponential-idle-guides/people">Ex Guides Team</a>.
        <p>Website created by <a href="https://ticklethepanda.dev">TickleThePanda</a>.
      </div>
      
      <a href="#top" class="back-to-top-link" aria-label="Scroll to Top">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="18 15 12 9 6 15" />
        </svg>
      </a>
    </footer>
  </body>
</html>
