{% extends "default.njk" %}

{% set nav %}
  {% set previousGuide = collections.guides | getPreviousCollectionItem(page) %}
  {% set nextGuide = collections.guides | getNextCollectionItem(page) %}

  <nav class="pagination">
    {% if previousGuide %}
      <a href="{{previousGuide.url}}">Previous: {{previousGuide.data.title}}</a>
    {% endif %}
    {% if nextGuide %}
      <a href="{{nextGuide.url}}" class="pagination__next">Next: {{nextGuide.data.title}}</a>
    {% endif %}
  </nav>
{% endset %}

{% block main %}

  {% if author or contributors %}
    <p class="byline">
      {% if author %}Guide written by <strong>{{ author }}</strong>.{% endif %}
      {% if contributors %}Contributions from <strong>{{ contributors }}</strong>.{% endif %}
  {% endif %}

  {% if draft %}
    <p class="draft-warning">
      This guide is currently undergoing change.
      Keep in mind, <strong>strategies may change</strong>.
  {% endif %}

  {% set toc = content | toc %}

  {% if toc %}
  <div class="toc-wrapper">
    <h3>Table of contents</h3>
    {{ toc | safe }}
  </div>
  {% endif %}

  {{ content | safe }}
{% endblock %}
