{% extends "default.njk" %}
{% import "list-link.njk" as list %}

{% set nav %}
  {% set navlist = [collections.guides, collections.rankings, collections.seasons, collections["ct-creation"]] %}
  
  <nav class="pagination">
    {% for posts in navlist %}
      {% set previous = posts | getPreviousCollectionItem(page) %}
      {% set next = posts | getNextCollectionItem(page) %}

      {% if previous %}
        <a href="{{previous.url}}">Previous: {{previous.data.title}}</a>
      {% endif %}
      {% if next %}
        <a href="{{next.url}}" class="pagination__next">Next: {{next.data.title}}</a>
      {% endif %}
    {% endfor %}
  </nav>
{% endset %}

{% set ranking_bools = ['/ranking-news' in page.url, '/rankings-main' in page.url, '/season-news' in page.url, '/seasons-main' in page.url] %}

{% block main %}

  {% if author or contributors %}
    <p class="byline">
      {% if author %}Guide written by <strong>{{ author }}</strong>.{% endif %}
      {% if contributors %}Contributions from <strong>{{ contributors }}</strong>.{% endif %}
  {% endif %}

  {% if ranking_bools[0] or ranking_bools[2] %}
    {% if discord %}
      <p>This was originally written on Discord so the text may be confusing. 
        It is kept this way to preserve the original posts how they were.<br>
    {% endif %}

    {% if ranking_bools[0] %}
      <p><a href="/guide-extensions/rankings-main/"><strong><u>Main Rankings Page</u></strong></a></p>
    {% else %}
      <p><a href="/guide-extensions/seasons-main/"><strong><u>Main Rankings Page</u></strong></a></p>
    {% endif %}
  {% else %}
    <div class="top-warning">
      {% if draft %}
        <p class="draft">
          This guide is currently undergoing change.
          Keep in mind, <strong>strategies may change</strong>.
        </p>
      {% endif %}
      {% if not ((glossary) or rankings_bool[1] or rankings_bool[3]) %}
        <p>
          Feel free to use the <a href="/guide-extensions/glossary/">glossary</a> 
          {% if (eylanding is defined) or '/guide-extensions' in page.url %}
            or <span class="eylanding-link"> 
              {% if eylanding != '' %}
                  {{eylanding}}
              {% endif %}
              {% if '/guide-extensions' in page.url %}
                extensions
              {% endif %}
            </span>
          {% endif %}
          as needed.
        </p>
      {% endif %}
    </div>
  {% endif %}
  
  {{ content | safe }}
  {#
  {% if ranking_bools[1] %}
    {{ list.rank_linked("ft", false) }}
  {% elif ranking_bools[3] %}
    {{ list.rank_linked("seasons", false) }}
  {% endif %}
  #}
  {% if ranking_bools[1] %}
    {% for year, yearPosts in collections.postsByYear %}
      {% set yearbool = false %}
      {% for post in yearPosts %}
        {% if '/ranking-news' in post.url %}
          {% set yearbool = true %}
        {% endif %}
      {% endfor %}
      
      {% if yearbool %}
        <h3>{{ year }}</h3>
        <ul>
          {% for post in yearPosts | reverse %}
            {% if '/ranking-news' in post.url %}
              {% set title = post.data.title | string %}
              <li>
                <a href="{{post.url}}">
                  {% if 'Rankings & News' in title %}
                    {{ title.slice(16,-5) }}
                  {% else %}
                    {{ post.data.title }}
                  {% endif %}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  {% elif ranking_bools[3] %}
    {% for year, yearPosts in collections.postsByYear %}
      {% set yearbool = false %}
      {% for post in yearPosts %}
        {% if '/season-news' in post.url %}
          {% set yearbool = true %}
        {% endif %}
      {% endfor %}

      {% if yearbool %}
        <h3>{{ year }}</h3>
        <ul>
          {% for post in yearPosts | reverse %}
            {% if '/season-news' in post.url %}
              {% set title = post.data.title | string %}
              <li>
                <a href="{{post.url}}">
                  {% if 'Season Rankings & News' in title %}
                    {{ title.slice(23,-5) }}
                  {% else %}
                    {{ post.data.title }}
                  {% endif %}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}


{% block sidebar %}
  {% include "sidebar.njk" %}
{% endblock %}
