---
layout: default.njk
---

{% block main %}
  {{ content | safe }}

  <p>Our guides:
  <ul>
    {%- for guide in collections.guide -%}
      <li ><a href="{{guide.url}}">{{ guide.data.title }}</a></li>
    {%- endfor -%}
  </ul>
{% endblock %}