{% macro linked(guide) %}
<li>
  <a href="{{guide.url}}">{{ guide.data.title }}</a>
  {% if guide.data.subtitle %}
    ({{ guide.data.subtitle }})
  {% endif %}
</li>
{% endmacro %}

{#
{% macro rank_linked(name, sidebar) %}
  {% set valid_rankings = ["ft", "season", "seasons"] %}
  {% set byYear = collections.postsByYear %}
  {% set name = name | string | lower %}
  {% if name in valid_rankings %}
    {% if name == "ft" %}
      {% set rankings = '/ranking-news' %}
    {% elif name in valid_rankings %}
      {% set rankings = '/season-news' %}
    {% endif %}

    {% for year, yearPosts in collections.postsByYear %}
    {% set yearbool = false %}
    {% for post in yearPosts %}
      {% if rankings in post.url %}
        {% set yearbool = true %}
      {% endif %}
    {% endfor %}

    {% if yearbool %}
      {% set inner %}
        <ul>
          {% for post in yearPosts | reverse %}
            {% if rankings in post.url %}
              <li>
                <a href="{{post.url}}">
                  {{ post.data.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endset %}
      {% if sidebar %}
        <li>{{ year }}{{ inner }}</li>
      {% else %}
        <h3>{{ year }}</h3>
        {{ inner }}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% endif %}
{% endmacro %}
#}  