{% extends "guide.njk" %}

{% block mainrankings %}
  <h3>Previous Rankings</h3>
    <ul>
      {%- for post in collections.ranking | reverse -%}
        {% if not ('/rankings_main' in post.url) %}
          <li>
            <a href="{{post.url}}">{{ post.data.title }}</a>
            {% if post.data.subtitle %}
              ({{ post.data.subtitle }})
            {% endif %}
          </li>
        {% endif %}
      {%- endfor -%}
    </ul>
{% endblock %}