
{%- macro list(tags) -%}
<ul>
  {%- for tag in tags -%}
    {%- set tagged = ['ext',tag] | join  -%}
    <li>{{ tagged }}
    <li>{{ collections.extT9 | length }}
    {%- if collections.extT9 | length > 0 -%}
      <li>{{ tag | capitalize }}+
      <ul>
        {%- for post in collections.extT9 -%}
          <li>
            <a href="{{post.url}}">{{ post.data.title }}</a>
            {% if post.data.subtitle %}
              ({{ post.data.subtitle }})
            {% endif %}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  {%- endfor -%}
</ul>
{%- endmacro -%}