
{%- macro list(collection, exclude) -%}
<ul>
  {%- for tag in collection | keys | dump | safe -%}
    <li>{{ tag | capitalize }}
    <ul>
      {%- for post in collection.getFilteredByTag( tag ) -%}
        <li>
          <a href="{{post.url}}">{{ post.data.title }}</a>
          {% if post.data.subtitle %}
            ({{ post.data.subtitle }})
          {% endif %}
        </li>
    </ul>
</ul>
{%- endmacro -%}