
{%- macro list(tags) -%}
<ul>
  {%- for tag in tags -%}
    <li>{{ tag | capitalize }}
    <ul>
      {%- for post in collections['ext-'+tag -%}
        <li>
          <a href="{{post.url}}">{{ post.data.title }}</a>
          {% if post.data.subtitle %}
            ({{ post.data.subtitle }})
          {% endif %}
        </li>
      {%- endfor -%}
    </ul>
  {%- endfor -%}
</ul>
{%- endmacro -%}