<ul>
  <li><a href="https://conicgames.github.io/exponentialidle/stars.html">Star Calculator: </a><button class="resources" onclick="openpopup('StarCalc');" onmouseover="openpopup('StarCalc');" onmouseout="openpopup('StarCalc');">⍰</button>
    <div class="hide" id="StarCalc">This will tell you how to optimise your stars.</div>
  
  <li><a href="https://conicgames.github.io/exponentialidle/students.html">Student Calculator: </a><button class="resources" onclick="openpopup('StudentCalc');" onmouseover="openpopup('StudentCalc');" onmouseout="openpopup('StudentCalc');">⍰</button>
    <div class="hide" id="StudentCalc">This will tell you how to optimise your students.</div>
  
  <li><a href="https://replit.com/@xelaroc/AnthSim">Theory Sim</a> and <a href="https://exponential-idle-guides.netlify.app/guides/theory-sim/">Sim Guide: </a><button class="resources" onclick="openpopup('TheorySim');" onmouseover="openpopup('TheorySim');" onmouseout="openpopup('TheorySim');">⍰</button>
    <div class="hide" id="TheorySim">For theories with max milestones gives optimal strategy, time of publication, multiplier, and more.</div>
  
  <li><a href="https://replit.com/@LEBaldy2002/phitaucalc">Phi*Tau Calculator: </a><button class="resources" onclick="openpopup('PhiTauCalc');" onmouseover="openpopup('PhiTauCalc');" onmouseout="openpopup('PhiTauCalc');">⍰</button>
    <div class="hide" id="PhiTauCalc">Will output estimate Phi*Tau, Phi, and Tau values needed to reach an input F(t).</div>
  
  <li><a href="https://replit.com/@LEBaldy2002/gradcalc">Graduation Calculator: </a><button class="resources" onclick="openpopup('GradCalc');" onmouseover="openpopup('GradCalc');" onmouseout="openpopup('GradCalc');">⍰</button>
    <div class="hide" id="GradCalc">Will output optimal graduation mark based on current students, phi, and tau values.</div>
  
  <li><a href="https://ex-save-organizer.web.app/">Save Game Organizer: </a><button class="resources" onclick="openpopup('SaveOrganizer');" onmouseover="openpopup('SaveOrganizer');" onmouseout="openpopup('SaveOrganizer');">⍰</button>
    <div class="hide" id="SaveOrganizer">Storage mechanism for saves due to game not having cloud save. Allows for easy access.</div>
  
  <li><a href="https://bit.ly/3IzvAir">Tau Tracker: </a><button class="resources" onclick="openpopup('TauTracker');" onmouseover="openpopup('TauTracker');" onmouseout="openpopup('TauTracker');">⍰</button>
  <div class="hide" id="TauTracker">If you want to track your daily tau gains and contribute to daily tau rates graphs, request for access on this sheet. <a href="https://bit.ly/3Ii14sE">F(t)</a> and <a href="https://bit.ly/33Wh44Q">Tau</a> graphs available.</div>
  
  <li><a href="https://www.youtube.com/channel/UCABRn80riRHN8r_ovCYLjrQ">Snaeky's Video Guides: </a><button class="resources" onclick="openpopup('VideoGuides');" onmouseover="openpopup('VideoGuides');" onmouseout="openpopup('VideoGuides');">⍰</button>
    <div class="hide" id="VideoGuides">Some guides for a few of the theories and other things you might like.</div>
  
  <li><a href="https://docs.google.com/spreadsheets/d/1VlHgt1y4GWCDph3zPfsm2foX40NK5aM0IUfZlEgy_ac/">Exponential Idle Leaderboards: </a><button class="resources" onclick="openpopup('Leaderboards');" onmouseover="openpopup('Leaderboards');" onmouseout="openpopup('Leaderboards');">⍰</button>
    <div class="hide" id="Leaderboards">Leaderboards for highest τ and publication multi of each theory, highest positive and negative ρ of each lemma, highest overall and minigame stars, and a monthly updated cross platform F(t) rankings.</div>
  
  <li><a href="https://docs.google.com/spreadsheets/d/1tXw4WE5GbVdbp4qC5ZzdYw1cmO9RzhVbBmLDXM7yESg/">Android Leaderboard F(t) Sheet: </a><button class="resources" onclick="openpopup('F(t)Leaderboards');" onmouseover="openpopup('F(t)Leaderboards');" onmouseout="openpopup('F(t)Leaderboards');">⍰</button>
    <div class="hide" id="F(t)Leaderboards">Daily updated and collected data from the android leaderboards about F(t) with useful graphs for growth and comparison.</div>
  
  <li><a href="https://exponential-idle.fandom.com/wiki/Exponential_Idle_Wiki">Exponential Idle Wiki: </a><button class="resources" onclick="openpopup('ExWiki');" onmouseover="openpopup('ExWiki');" onmouseout="openpopup('ExWiki');">⍰</button>
    <div class="hide" id="ExWiki">Additional information about the game. Do not follow for strategies.</div>
  
  <li><a href="https://docs.google.com/spreadsheets/d/17lJ4IIIXfDAoO-TA76pwjNoZd2W9tQI9KRjENcs5Ybw/edit#gid=0">Variable and Supremacy Lookup: </a><button class="resources" onclick="openpopup('LookupSheet');" onmouseover="openpopup('LookupSheet');" onmouseout="openpopup('LookupSheet');">⍰</button>
    <div class="hide" id="LookupSheet">Lookup for the first F(t) that you can buy a variable as well as the F(t) to buy a certain supremacy upgrade given ψ=0.</div>
</ul>