<ul>
  <div onmouseover="openpopup('StarCalc');" onmouseout="openpopup('StarCalc');"><li><a href="https://conicgames.github.io/exponentialidle/stars.html">Star Calculator: </a><span onclick="openpopup('StarCalc');" class="resources">⍰</span>
    <div class="hide" id="StarCalc">This will tell you how to optimize your stars.</div></div>
  
  <div onmouseover="openpopup('StudentCalc');" onmouseout="openpopup('StudentCalc');"><li><a href="https://conicgames.github.io/exponentialidle/students.html">Student Calculator: </a><span onclick="openpopup('StudentCalc');" class="resources">⍰</span>
    <div class="hide" id="StudentCalc">This will tell you how to optimize your students.</div></div>
  
  <div onmouseover="openpopup('TheorySim');" onmouseout="openpopup('TheorySim');"><li><a href="https://exponential-developers.github.io/sim-3.0/">Theory Sim</a> and <a href="/guides/theory-sim/">Sim Guide: </a><span onclick="openpopup('TheorySim');" class="resources">⍰</span>
    <div class="hide" id="TheorySim">For theories with max milestones, this gives optimal strategy, time of publication, multiplier, and more.</div></div>
  
  <div onmouseover="openpopup('PhiTauCalc');" onmouseout="openpopup('PhiTauCalc');"><li><a href="https://replit.com/@LEBaldy2002/phitaucalc">Phi*Tau Calculator: </a><span onclick="openpopup('PhiTauCalc');" class="resources">⍰</span>
    <div class="hide" id="PhiTauCalc">Will output estimate Phi*Tau, Phi, and Tau values needed to reach an input F(t).</div></div>
  
  <div onmouseover="openpopup('GradCalc');" onmouseout="openpopup('GradCalc');"><li><a href="https://replit.com/@LEBaldy2002/gradcalc">Graduation Calculator: </a><span onclick="openpopup('GradCalc');" class="resources">⍰</span>
    <div class="hide" id="GradCalc">Will output optimal graduation mark based on current students, phi, and tau values. Instructions on how to run are found in <a href="/guides/intro-to-grad/#graduation-routing">Introduction to Graduation.</a></div></div>
  
  <div onmouseover="openpopup('SaveOrganizer');" onmouseout="openpopup('SaveOrganizer');"><li><a href="https://ex-save-organizer.web.app/">Save Game Organizer: </a><span onclick="openpopup('SaveOrganizer');" class="resources">⍰</span>
    <div class="hide" id="SaveOrganizer">Storage mechanism for saves due to game not having cloud save. Allows for easy access.</div></div>
  
  <div onmouseover="openpopup('TauTracker');" onmouseout="openpopup('TauTracker');"><li><a href="https://bit.ly/3IzvAir">Tau Tracker: </a><span onclick="openpopup('TauTracker');" class="resources">⍰</span>
  <div class="hide" id="TauTracker">If you want to track your daily tau gains and contribute to daily tau rates graphs, request for access on this sheet. <a href="https://bit.ly/3Ii14sE">F(t)</a> and <a href="https://bit.ly/33Wh44Q">Tau</a> graphs available.</div></div>
  
  <div onmouseover="openpopup('VideoGuides');" onmouseout="openpopup('VideoGuides');"><li><a href="https://www.youtube.com/channel/UCABRn80riRHN8r_ovCYLjrQ">Snaeky's Video Guides: </a><span onclick="openpopup('VideoGuides');" class="resources">⍰</span>
    <div class="hide" id="VideoGuides">Some guides for a few of the theories and other things you might like.</div></div>
  
  <div onmouseover="openpopup('Leaderboards');" onmouseout="openpopup('Leaderboards');"><li><a href="https://docs.google.com/spreadsheets/d/1VlHgt1y4GWCDph3zPfsm2foX40NK5aM0IUfZlEgy_ac/">Exponential Idle Leaderboards: </a><span onclick="openpopup('Leaderboards');" class="resources">⍰</span>
    <div class="hide" id="Leaderboards">Leaderboards for highest τ and publication multi of each theory, highest positive and negative ρ of each lemma, highest overall and minigame stars, and a monthly updated cross platform F(t) rankings.</div></div>
  
  <div onmouseover="openpopup('F(t)Leaderboards');" onmouseout="openpopup('F(t)Leaderboards');"><li><a href="https://docs.google.com/spreadsheets/d/1tXw4WE5GbVdbp4qC5ZzdYw1cmO9RzhVbBmLDXM7yESg/">Android Leaderboard F(t) Sheet: </a><span onclick="openpopup('F(t)Leaderboards');" class="resources">⍰</span>
    <div class="hide" id="F(t)Leaderboards">Daily updated and collected data from the android leaderboards about F(t) with useful graphs for growth and comparison.</div></div>
  
  <div onmouseover="openpopup('ExWiki');" onmouseout="openpopup('ExWiki');"><li><a href="https://exponential-idle.fandom.com/wiki/Exponential_Idle_Wiki">Exponential Idle Wiki: </a><span onclick="openpopup('ExWiki');" class="resources">⍰</span>
    <div class="hide" id="ExWiki">Additional information about the game. Do not follow for strategies.</div></div>
  
  <div onmouseover="openpopup('LookupSheet');" onmouseout="openpopup('LookupSheet');"><li><a href="https://docs.google.com/spreadsheets/d/17lJ4IIIXfDAoO-TA76pwjNoZd2W9tQI9KRjENcs5Ybw/edit#gid=0">Variable and Supremacy Lookup: </a><span onclick="openpopup('LookupSheet');" class="resources">⍰</span>
    <div class="hide" id="LookupSheet">Lookup for the first F(t) that you can buy a variable as well as the F(t) to buy a certain supremacy upgrade given ψ=0.</div></div>
</ul>