{% from '../list-link.njk' import linked %}

{% if not home %}
  {% for tag, post in collections %}
    {% if tag.slice(0,4 - (tag | length)) == 'ext-' and collections[tag] | length > 0 %}
      <h4>{{ tag.slice(4) | capitalize}}</h4>
      <ul>
        {% for guide in collections[tag] %}
          {{ linked(guide) }}
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% else %}
  <ul>
    {% for tag, posts in collections %}
      {% if tag.slice(0,4 - (tag | length)) == 'ext-' and collections[tag] | length > 0 %}
        <li>{{ tag.slice(4) | capitalize }}</li>
        <ul>
          {% for guide in collections[tag] %}
            {{ linked(guide) }}
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}