---
title: Home
---

{% extends "default.njk" %}

{% block title %}
  <h2 hidden>Home</h2>
{% endblock %}

{% block main %}

  <p>This is a site for guides for Exponential Idle.

  <p>Here are almost all of the resources that are used in the Discord.
  This post will have the guides that were created by Snaeky and
  Baldy, the simulator (sim) by Antharion, and the calculator by Eaux.
  If you have any questions, please feel free to ask.

  <h3>Our guides</h2>
  <ul>
    {%- for guide in collections.guides -%}
      <li ><a href="{{guide.url}}">{{ guide.data.title }}</a></li>
    {%- endfor -%}
  </ul>

  <p>Snaeky has a <a href="https://www.youtube.com/channel/UCABRn80riRHN8r_ovCYLjrQ">YouTube channel</a>
  with some guides there for a couple of the theories and some other things that you might like.

  <h3>Other tools</h2>

  <p>These are the student and star optimizers, just input your
  information, and it will tell you where to put everything.
  <ul>
    <li><a href="https://conicgames.github.io/exponentialidle/stars.html">Star Calculator</a>
    <li><a href="https://conicgames.github.io/exponentialidle/students.html">Student Calculator</a>
    <li><a href="https://replit.com/@xelaroc/AnthSim">Theory Sim</a> and
      <a href="https://docs.google.com/document/d/1KfrfQzw6w3jecw3b2FCVNbpxdNYHsd-8TFufiUlvQFg/edit">sim manual</a>
    <li><a href="https://docs.google.com/spreadsheets/d/1lz_V0rCr3usm1Wyqn2DEJdw6_7lhWIxXCYFmUbArV1c/edit#gid=1147118496">Phi*Tau Calculator</a>
  </ul>

{% endblock %}