---
title: Home
---

{% extends "default.njk" %}

{% block title %}
  <h2 hidden>Home</h2>
{% endblock %}

{% block main %}

  <p>This is a site for guides for Exponential Idle.

  <p>Here are almost all of the available resources that are used in the Discord and Reddit.
  This post will have the guides that were created by Snaeky and
  Baldy, the simulator (sim) by Antharion, and calculators from Eaux, Baldy, Niedzielan, AfuroZamurai, and Milla.
  If you have any questions, please ask us on the <a href="https://discord.gg/3FqMuzuf4t">Exponential Idle Discord</a> or <a href="https://www.reddit.com/r/ExponentialIdle/">Exponential Idle Reddit</a>.

  <p>Do you have any suggestions for how to improve these guides?
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdje1OWIgI1vqMry6U1E51bxh3VE4tLilTdRyqun1aVmP7pag/viewform">
    Let us know your feedback.
  </a>

  <h3>Our guides</h2>
  <p>Here are our guides.
  <ul>
    {%- for guide in collections.guides -%}
      <li>
        <a href="{{guide.url}}">{{ guide.data.title }}</a>
        {% if guide.data.subtitle %}
          ({{ guide.data.subtitle }})
        {% endif %}
      </li>
    {%- endfor -%}
  </ul>

  <h3>Other Resources</h2>

  <p>Other useful resources.
  <ul>
    <li><a href="https://conicgames.github.io/exponentialidle/stars.html">Star Calculator</a>.
      This will tell you how to optimise your stars.
    <li><a href="https://conicgames.github.io/exponentialidle/students.html">Student Calculator</a>.
      This will tell you how to optimise your students.
    <li><a href="https://replit.com/@xelaroc/AnthSim">Theory Sim</a> and
      <a href="https://docs.google.com/document/d/1KfrfQzw6w3jecw3b2FCVNbpxdNYHsd-8TFufiUlvQFg/edit">Sim Guide</a>.
    <li><a href="https://docs.google.com/spreadsheets/d/1lz_V0rCr3usm1Wyqn2DEJdw6_7lhWIxXCYFmUbArV1c/edit#gid=1147118496">Phi*Tau Calculator</a>
    <li><a href="https://docs.google.com/spreadsheets/d/1lz_V0rCr3usm1Wyqn2DEJdw6_7lhWIxXCYFmUbArV1c/edit#gid=1147118496">Graduation Calculator</a>
    <li><a href="https://docs.google.com/spreadsheets/d/1rnriM32_EusaNArZNGiJuTLRRwMjGCmvP9MEIuq10ic/edit?usp=sharing">Tau Reference Sheet</a>
    <li><a href="https://www.youtube.com/channel/UCABRn80riRHN8r_ovCYLjrQ">Snaeky's Video Guides</a>.
    Some guides for a few of the theories and other things you might like.
  </ul>

{% endblock %}
