---
title: Home
description: "Guides for Exponential Idle. Most of the resources used by the community on Discord and Reddit are linked here."
home: true
---

{% extends "default.njk" %}
{% import "list-link.njk" as list %}

{% block title %}
  <h2 hidden>Home</h2>
{% endblock %}

{% block main %}

  <p>This is a site for guides for Exponential Idle.

  <p>Here are almost all of the available resources that are used in the Discord and Reddit.
  This website contains the guides that were created by Snaeky and
  Baldy, the theory sim­u­lator (sim) by XLII, and calculators from Eaux, Baldy, Niedzielan, AfuroZamurai, and Milla. 
  If you have any questions, please ask us on the <a href="https://discord.gg/3FqMuzuf4t">Exponential Idle Discord</a>
  or <a href="https://www.reddit.com/r/ExponentialIdle/">Exponential Idle Reddit</a>.

  <p>Do you have any suggestions for how to improve these guides?
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdje1OWIgI1vqMry6U1E51bxh3VE4tLilTdRyqun1aVmP7pag/viewform">
    Let us know your feedback</a> and <a href="https://bit.ly/ex-guide-suggestion-responses"> check out our responses.<a/>

  <h3>Our guides</h3>
  <ul>
    {% for guide in collections.guides %}
      {{ list.linked(guide) }}
    {% endfor %}
  </ul>

  <h3>Guide Extensions</h3>

  <ul>
    {% for tag, posts in collections %}
      {% if tag.slice(0,4 - (tag | length)) == 'ext-' and collections[tag] | length > 0 %}
        <li>{{ tag.slice(4) | capitalize }}
        <ul>
          {% for guide in collections[tag] %}
            {{ list.linked(guide) }}
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>

  <h3>Custom Theory Creation Bootcamp</h3>

  {% set prefaces = collections["ct-preface"] | ct_week(-1) %}
  {% if prefaces | length > 0 %}
    <h4 id="outer-preface">Prefaces</h4>
    <ul class="ct-creation">
      {% for preface in prefaces %}
        <li>{{ preface | ct_linked | safe }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% for week in collections["ct-creation-weeks"] %}
    <h4>Week {{week}}</h4>
    <ul class="ct-creation">
      {% for preface in collections["ct-preface"] | ct_week(week) %}
        <li>{{ preface | ct_linked | safe }}</li>
      {% endfor %}

      {% set days = collections["ct-day"] | ct_week(week) %}
      {% if days | length > 0 %}
        {% for day in days %}
          <li>{{ day | ct_linked | safe }}</li>
        {% endfor %}
      {% endif %}

      {% for appendix in collections["ct-appendix"] | ct_week(week) %}
        <li>{{ appendix | ct_linked | safe }}</li>
      {% endfor %}
    </ul>
  {% endfor %}

  {% set appendices = collections["ct-appendix"] | ct_week(-1) %}
  {% if appendices | length > 0 %}
    <h4 id="outer-appendix">Appendices</h4>
    <ul class="ct-creation">
      {% for appendix in appendices %}
        <li>{{ appendix | ct_linked | safe }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <h3>Other resources</h3>
  {% include "tools.njk" %}

{% endblock %}
