.root{
	--main-width: 60vw;
	--page-section-margin: 0.75rem auto auto auto;
}
:root.mobile{
	--main-width: 80vw;
	--page-section-margin: 0.75rem auto auto 20vw;
}
:root.desktop{
	--main-width: 60vw;
	--page-section-margin: 0.75rem auto auto auto;
}

.page-section {
	box-sizing: border-box;
	max-width: 100%;
	width: var(--main-width);
	padding-left: 1rem;
	padding-right: 1rem;
	margin: var(--page-section-margin);
}