.footer {
  text-align: right;
}

.footer__section {
  margin-top: 1rem;
	font-size: 0.8rem;
}

.footer__section:first-child {
  margin-top: 3rem;
}

.footer__section--main.footer__section--main {
  margin-top: 1rem;
  padding-bottom: 1rem;
}