/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.back-to-top-link {
  position: fixed;
  bottom: var(--floating-margin);
  right: var(--floating-margin);

  margin: 0;

  svg {
    color: var(--palette-stroke);
    background-color: var(--palette-fill);
    width: 1.5em;
    height: auto;
    border-radius: 0.25em;
    border: 1px solid var(--palette-stroke);
    box-shadow: var(--floating-shadow);
  }
}