.btn-color-scheme-toggle {

  appearance: none;
  border: unset;
  background-color: unset;

  position: absolute;
  right: var(--floating-margin);
  top: var(--floating-margin);

  .light, .dark {
    display: none;
    img {
      margin: 0;
      width: 1rem;
    }
  }

  .light {
    fill: var(--palette-stroke);
  }

  .dark {
    fill: var(--palette-stroke);
  }

  padding: 0.25rem;
  border: 1px solid var(--palette-stroke-hc);
  background-color: var(--palette-fill);
  border-radius: 0.25rem;
  box-shadow: var(--floating-shadow);
}

:root.dark-mode .light {
  display: block;
}

:root.light-mode .dark {
  display: block;
}