.toc-wrapper {
  margin-top: 1em;
  padding: 1em;
  background-color: var(--palette-fill-lc);
}

.toc-wrapper h3 {
  margin-top: 0;
}

.toc-wrapper ol {
  margin-left: 0.5em;
}

.toc-wrapper + p {
  margin-top: 1em;
}