.MathJax_Display, .MJXc-display, .MathJax_SVG_Display, mjx-container[display="block"] {
  max-width: 100%;
  margin: 0 !important;
  padding-bottom: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
}

.math-inline, .math-block {
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: var(--section-max-width);
  vertical-align: middle;
  padding: 2px;
}