:root {
	--section-max-width:60vw;
}

.page-section {
	box-sizing: border-box;
	max-width: 100%;
	width: var(--section-max-width);
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	margin-top: 0.75rem;
}
