.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 10vw;
  background-color: var(--palette-fill-sidebar);
  color: var(--palette-stroke-sidebar-base);
  text-align: center;
  border-radius: 0.43vw;
  padding: 0.36vw;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -5.36vw;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--palette-fill-sidebar) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}