:root {
  --list-margin-top: 0.5em;
  --list-padding-left: 1em;
}

li {
  line-height: var(--body-line-height);
  margin-top: 0.25em;
}

ul, ol {
  padding-left: var(--list-padding-left);
  margin-top: var(--list-margin-top);
}
ul ul, ol ol, ul ul ul, ol ol ol {
  padding-left: var(--list-padding-left);
  margin-top: 0;
}

ul {
  li {
    list-style-type: disc;
  }
}

ol {
  li {
    list-style-type: decimal;
  }
}

ol ol {
  li {
    list-style-type: lower-alpha;
  }
}

ol ol ol {
  li {
    list-style-type: lower-roman;
  }
}

i {
  font-style: italic;
}

li.invisible {
  list-style-type: none;
}

ul.ct-creation, ol.ct-creation {
  li {
    list-style-type: none !important;
  }
}


@counter-style square_level1 {
  system: cyclic;
  symbols: '■'; /* A single star character */
  suffix: " "; 
}
@counter-style square_level2 {
  system: cyclic;
  symbols: '❖';
  suffix: " "; 
}
@counter-style square_level3 {
  system: cyclic;
  symbols: '»';
  suffix: " "; 
}
@counter-style square_level3alt {
  system: cyclic;
  symbols: '≫';
  suffix: " "; 
}

/* On narrower screens, where width is less than 750px, change the style of 
the sidenav list icons (less padding and smaller font size) */
@media screen and (max-width: 750px) {
  .square_list li,
  .square_list li li{
    padding-left: 0.3em;
    font-size: 1em;
  }
}

.square_list {
  li {
    display: list-item;
    position: relative;
  }
  ul, ol {
    list-style: square_level1 !important;
    li {
      list-style-type: square_level1 !important;
      &::marker {
        font-size: 1.5em;
        line-height: 1em;
      }
    }
    &.square_test, .square_test {
      width: min-content !important;
    }
    ul, ol {      
      list-style: square_level2 !important;
      li {
        list-style-type: square_level2 !important;
        &::marker {
          font-size: 1.2em;
          line-height: 1em;
        }
      }
      ul, ol {
        list-style: square_level3 !important;
        li {
          list-style-type: square_level3 !important;
          &::marker {
            font-size: 1.8em;
            line-height: 1em;
          }
        }
      }
    }
  }
}