$table-border: 5px solid black;
$table-border-thin: 3px solid black;
$table-padding: 0.5em 0.4em 0.5em 0.4em;
$table-padding-narrow: 0.2em 0.1em 0.2em 0.1em;

table {
	max-width: 100% !important;
	overflow-x: auto !important;
	overflow-y: clip !important;
	margin: auto;
	margin-top: 1em;
	padding-bottom: 1em;

	// CT guide tables
	.variable_summary {
		border: 5px solid blue !important;
		letter-spacing: 2px !important;
		font-family: sans-serif !important;
		font-size: .8rem !important;
	}
}
thead {
	font-weight: 700;
}
th {
	text-align: left;
}

th, td {
	padding: 0.2em;
	padding-left: 0.4em;
	padding-right: 0.4em;

	&:first-child {
		position: sticky;
		left: 0;
		background-color: var(--palette-fill-transparent);
	}
}
caption {
	margin-bottom: 1em;
}

// commonly used classes
.invisible {
	border: none !important;
	background-color:transparent !important;
}
.arrow {
	padding: 0em 0em 0em 0em;
}
.last_row {
	border-bottom: $table-border !important;
}
sub {
	vertical-align: sub;
}
tfoot td{
	font-size: 0.72rem;
	font-style: italic;
	text-align: left !important;
	border: none !important;
	background-color:transparent !important;
	font-weight: normal !important;
	color: var(--palette-stroke) !important;
}

//New Table Look
.newwords {
	text-align: center;

	.leftHeader, .leftlastHeader {
		font-weight: bold;
		border-right: $table-border;
	}
	.leftHeader, .leftlastHeader, th, .invisibleSubHeader {
		color: var(--palette-stroke-table-headers);
		background-color:var(--palette-fill-table-headers-light);
	}
	.leftlastHeader, th{
		border-bottom: $table-border;
	}
	.invisibleSubHeader {
		border-bottom: none !important;
	}
	th, td{
		text-align: center;
		padding: $table-padding;
		//border-bottom: none !important;
	}
}

%routing {
  margin-left: 0;
	margin-top: 0;
	th {
		text-align: center;
	}
}
//Graduation Routing
.graduation_routing {
	@extend %routing;
}
//Milestone Routing
.milestone_routing {
	@extend %routing;
	.perm_upg {
		color: var(--palette-stroke-warning);
	}
}

// ranking tables
.rankings {
	th, td {
		border: 1px solid var(--black-white);
		text-align: center;
		vertical-align: middle;
	}
}


// breakdown tables
%breakdown_headers {
  color: var(--palette-stroke-table-headers);
  background-color: var(--palette-fill-table-headers-dark);
	font-weight: bold;
	border-right: $table-border;
}
.breakdown {
	overflow-wrap: always;
	word-break: keep-all;
	.category {
		color: var(--palette-stroke-table-headers);
		background-color: var(--palette-fill-table-headers-neutral) !important;
		font-weight: bold;
		border-top: $table-border-thin;
		border-bottom: $table-border-thin;
		border-right: none !important;
	}
	.bheader {
		@extend %breakdown_headers;
		border-left: $table-border-thin;
		&:first-child {
			border-left: none;
		}
	}
	td {
		padding: $table-padding;
		text-align: center;
		&:first-child {
			@extend %breakdown_headers;
		}
	}
	th {
		background-color:var(--palette-fill-table-headers-light);
		border-bottom: $table-border;
		padding: $table-padding;
		text-align: center;
	}
	tbody th{
		&:first-child {
			border-left: none;
		}
		font-weight: bold;
		border-right: $table-border;
		border-bottom: none;
		border-left: $table-border-thin;
	}
}

.variable_description {
	overflow-wrap: always;
	word-break: keep-all;
	td {
		padding: $table-padding;
		text-align: left;
		&:first-child {
			@extend %breakdown_headers;
			text-align: center;
		}
	}
	th {
		color: var(--palette-stroke-table-headers);
		background-color:var(--palette-fill-table-headers-light);
		border-bottom: $table-border;
		padding: $table-padding;
		text-align: center;
	}
	tbody th{
		&:first-child {
			border-left: none;
		}
		font-weight: bold;
		border-right: $table-border;
		border-bottom: none;
		border-left: $table-border-thin;
	}
}

%strat {
	overflow-wrap: always;
	word-break: keep-all;
	td {
		padding: $table-padding;
		text-align: center;
		&:first-child {
			color: var(--palette-stroke-table-headers);
			background-color: var(--palette-fill-table-headers-dark);
			font-weight: bold;
			border-right: $table-border-thin;
		}
	}
	th {
		color: var(--palette-stroke-table-headers);
		background-color: var(--palette-fill-table-headers-neutral);
		font-weight: bold;
		border-top: $table-border-thin;
		padding: $table-padding;
		text-align: center;
	}
	tbody {
		border-top: $table-border;
	}
}
.strat {
	@extend %strat;
}
.strat_separated {
	@extend %strat;
	th {
		border-right: $table-border-thin;
		&:last-child {
			border-right: none !important;
		}
	}
}