.table-wrapper {
	max-width: 100%;
	overflow-x: auto;
	overflow-y: clip;
}

table {
	margin: auto;
	margin-top: 1em;
	padding-bottom: 1em;
}

thead {
	font-weight: 700;
}

th {
	text-align: left;
}

th, td {
	padding: 0.2em;
	padding-left: 0.4em;
	padding-right: 0.4em;

	&:first-child {
		position: sticky;
		left: 0;
		background-color: var(--palette-fill-transparent);
	}
}

//New Table Look
.newwords {
	text-align: center;
}
.newwords .invisible {
	border: none;
	background-color:transparent;
}
.newwords .leftHeader {
	font-weight: bold;
	background-color:#505050;
	border-right: 5px solid black;
}
.newwords th {
	background-color:#505050; 
	border-bottom: 5px solid black;
}
.newwords th, td {
	text-align: center;
	padding: 0.5em 0.4em 0.5em 0.4em;
}
.newwords sub {
	vertical-align: sub
}

.T2 {
	text-align: center;
}
.T2 .invisible {
	border: none;
	background-color:transparent;
}
.T2 .leftHeader {
	font-weight: bold;
	background-color:#505050;
	border-right: 5px solid black;
}
.T2 th {
	background-color:#505050; 
	border-bottom: 5px solid black;
}
.T2 th, td {
	text-align: center;
	padding: 0.3em 0.1em 0.3em 0.1em;
}
.T2 sub {
	vertical-align: sub
}
.T2 .arrow {
	padding: 0em 0em 0em 0em;
}

//Graduation Routing
.graduation_routing {
    margin-left: 0;
	margin-top: 0;
}