:root{
  --sidebar-transition-time: 0.5s;
  --sidebar-text-transition-time: 0.3s;
  --sidebar-padding-lr:0%;
  --sidebar-padding-b:0%;

  --btn-marginLeft:0%;
  --btn-marginTop:0%;
  --btn-paddingLeft:0%;
  --btn-paddingRight:0%;
  --btn-padding:min(2vh, 15px) min(3vw, 20px);
  --btn-width: 20vw;

  --sidebar-height:100%;
  --sidebar-width:0%;
  --sidebar-column-gap:0;
  --sidebar-column-count:1;

  --sidebar-content-padding:0px;
  --sidebar-header-font-size:1.5em;
  --sidebar-transition-direction:margin-left;
}

.sidebar {
  height: var(--sidebar-height);
  width:var(--sidebar-width);
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--palette-fill-sidebar);
  overflow-x: hidden;
  transition: all var(--sidebar-transition-time);
  overflow-y:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  padding-left: var(--sidebar-padding-lr);
  padding-right: var(--sidebar-padding-lr);
  padding-bottom: var(--sidebar-padding-b);
}
.sidebar::-webkit-scrollbar {
  display:none;
}

.sidebar .content_wrapper {
  padding: var(--sidebar-content-padding) var(--sidebar-content-padding) var(--sidebar-content-padding) 0;
  text-decoration: none;
  font-size: 1em;
  color: var(--palette-stroke-sidebar-base);
  display: block;
  transition: var(--sidebar-text-transition-time);
}

.sidebar a {
  color: var(--palette-stroke-sidebar-base);
}
.sidebar a:hover {
  text-decoration: underline;
  color: var(--palette-stroke-sidebar-header-hover);
}

.sidebar h1 {
  position: block;
  top: min(3.5vh, 3.5vw, 20px);
  font-size: var(--sidebar-header-font-size);
  color: var(--palette-stroke-sidebar-header-hover);
  padding-top: 0px;
  padding: 0;
  margin-top: min(3.5vh, 3.5vw, 20px);
  transition: var(--sidebar-text-transition-time);
}
.sidebar .closebtn {
  position: absolute;
  top: min(3.5vh, 3.5vw, 20px);
  right: min(30px, 3.5vw);
  font-size: var(--sidebar-header-font-size);
  margin-left: min(50px, 15vw);
  color: var(--palette-stroke-sidebar-base);
}
.sidebar .closebtn:hover {
  text-decoration:none;
  color: var(--palette-stroke-sidebar-header-hover);
}

.openbtn {
  max-width: var(--btn-width);
  font-size: 1.2em;
  cursor: pointer;
  background-color: var(--palette-fill-sidebar);
  color: var(--palette-stroke-sidebar-base);
  padding: var(--btn-padding);
  border: none;
  word-wrap:normal;
  text-align:left;
}

.openbtn:hover {
  background-color: var(--palette-fill-sidebar-hover);
}

#sidebarMain {
  width: auto;
  position: fixed;
  transition: var(--sidebar-transition-direction) var(--sidebar-transition-time);
  margin-left: var(--btn-marginLeft);
  margin-top: var(--btn-marginTop);
  z-index: 100;
}
#sidebarOptions {display:none;}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* On narrower screens, where width is less than 750px, change the style of 
the sidenav list icons (less padding and smaller font size) */
@media screen and (max-width: 750px) {
  .square_list li::before,
  .square_list li li::before {
    padding-right: 0.3em;
    font-size: 1em;
  }
}

.square_list li {
  list-style-type: none;
  display: block;
  position: relative;
}
.square_list li::before {
  content: '■';
  color: inherit;
  padding-right: 0.5em;
  font-size: 1.2em;
  line-height: 1em;
}
.square_list li li::before {
  content: '❖';
}

.square_list ul, .square_list ol{
  -webkit-column-count: var(--sidebar-column-count);
  -webkit-column-gap: var(--sidebar-column-gap);

  -moz-column-count:var(--sidebar-column-count);
  -moz-column-gap: var(--sidebar-column-gap);

  -o-column-count: var(--sidebar-column-count); 
  -o-column-gap: var(--sidebar-column-gap);

  column-count: var(--sidebar-column-count);
  column-gap: var(--sidebar-column-gap);

  list-style-position: inside;
}
.square_list ul ul, .square_list ol ol{
  -webkit-column-count: 1;
  -webkit-column-gap: 0;

  -moz-column-count: 1;
  -moz-column-gap: 0;

  -o-column-count: 1; 
  -o-column-gap: 0;

  column-count: 1;
  column-gap: 0;

  list-style-position: inside;
}
