$sidebar-btn-padding-lr: min(3vw, 20px);
$sidebar-btn-padding-tb: min(2vh, 15px);
$sidebar-btn-count: 5;
$sidebar-btn-rows: 7;

:root{
  --sidebar-transition-time: 0.8s;
  --sidebar-text-transition-time: 0.5s;
  --sidebar-padding-lr: 0%;
  --sidebar-padding-b: 0%;

  --sidebar-btn-max-width: 20vw;
  --sidebar-btn-max-height: calc(2 * (var(--sidebar-btn-font-size) * var(--body-line-height)) + #{$sidebar-btn-padding-tb});
  --sidebar-btn-padding: #{$sidebar-btn-padding-tb} #{$sidebar-btn-padding-lr};
  --sidebar-btn-font-size: 1.2rem;

  --sidebar-height: 100vh;
  --sidebar-width: auto;
  --sidebar-wrapper-max-width: 0vw; //0vw <-> 40vw
  --sidebar-max-width: calc(var(--sidebar-wrapper-max-width) + var(--sidebar-btn-max-width));
  --sidebar-wrapper-max-height: var(--sidebar-height);
  --sidebar-max-height: var(--sidebar-height);
  
  --sidebar-column-gap: 0;
  --sidebar-column-count: 1;

  --sidebar-content-padding: 0%;
  --sidebar-header-font-size: 1.5rem;
  --sidebar-header-top: min(3.5vh, 3.5vw, 20px);
  --sidebar-transition-direction: margin-left;

  --sidebar-square-margin-left: 0.2em;

  --sidebar-closebtn-left: calc((-1em * 36.7125 / 36) - var(--sidebar-padding-lr));

  --sidebar-btn-count: #{$sidebar-btn-count};
  --sidebar-btn-rows: #{$sidebar-btn-rows};
  &:has(#Rankingbtn), &:has(#Seasonbtn), &:has(#CTbtn) {
    --sidebar-btn-count: calc(#{$sidebar-btn-count} + 1);
    --sidebar-btn-rows: calc(#{$sidebar-btn-rows} + 1);
  }

  --sidebar-grid: inline-grid;
  --sidebar-flex: inline-flex;
}
:root.mobile {
  --sidebar-btn-max-width: 30vw;

  --sidebar-transition-time: 0.5s;
  --sidebar-text-transition-time: 0.3s;

  --sidebar-height: auto;
  --sidebar-width: 100vw;
  --sidebar-wrapper-max-width: var(--sidebar-width);
  --sidebar-max-width: var(--sidebar-width);
  --sidebar-wrapper-max-height: 0vh; //0vh <-> 50vh
  --sidebar-max-height: calc(var(--sidebar-wrapper-max-height) + (2 * var(--sidebar-btn-count) * #{$sidebar-btn-padding-tb}) + (var(--sidebar-btn-rows) * var(--body-line-height) * var(--sidebar-btn-font-size)));

  --sidebar-padding-lr: 2%;
  --sidebar-column-gap: 3vw;
  --sidebar-column-count: 2;
  --sidebar-transition-direction: margin-top;

  --sidebar-grid: grid;
  --sidebar-flex: flex;
}
@media screen and (orientation: landscape) {
  :root.mobile {
    --sidebar-column-count: 3;
  }
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  max-width: var(--sidebar-max-width);
  max-height: var(--sidebar-max-height);
  display: flex;
  flex-wrap: wrap;
  transition: all var(--sidebar-transition-time);
}
#sidebars {
  display: var(--sidebar-grid);
  box-sizing: border-box;
  width: var(--sidebar-width);
  max-width: var(--sidebar-wrapper-max-width);
  max-height: var(--sidebar-wrapper-max-height);
  transition: all var(--sidebar-transition-time);
}
.sidebar {
  z-index: 0;
  box-sizing: border-box;
  grid-area: 1/1;
  width: var(--sidebar-width);
  height: var(--sidebar-height);
  color: var(--palette-stroke-sidebar-base);
  background-color: var(--palette-fill-sidebar);
  overflow-x: hidden;
  transition: all var(--sidebar-transition-time);
  overflow-y:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  padding-bottom: var(--sidebar-padding-b);

  &::-webkit-scrollbar {
    display:none;
  }
  a {
    color: var(--palette-stroke-sidebar-link);
    &:hover {
      text-decoration: underline;
      color: var(--palette-stroke-sidebar-link-hover);
    }
  }
  h1 {
    font-size: var(--sidebar-header-font-size);
    color: var(--palette-stroke-sidebar-header);
    padding: 0;
    margin-top: var(--sidebar-header-top);
    transition: var(--sidebar-text-transition-time);
    padding-left: var(--sidebar-padding-lr);
    padding-right: var(--sidebar-padding-lr);
  }
  .content_wrapper {
    padding: var(--sidebar-content-padding) var(--sidebar-content-padding) var(--sidebar-content-padding) 0;
    text-decoration: none;
    font-size: 1em;
    color: var(--palette-stroke-sidebar-base);
    display: block;
    transition: var(--sidebar-text-transition-time);
    margin-bottom: var(--sidebar-padding-b);
    padding-left: var(--sidebar-padding-lr);
    padding-right: var(--sidebar-padding-lr);
  }
}

@counter-style sidebar_btn {
  system: cyclic;
  symbols: '☰';
  suffix: ""; 
}

#sidebarButtons {
  max-width: var(--sidebar-btn-max-width);
  width: auto;
  display: var(--sidebar-flex);
  flex-direction: column;
  vertical-align: top;
  transition: var(--sidebar-transition-direction) var(--sidebar-transition-time);
  /*.square_list {
    flex-wrap: wrap;
    #sidebarNavigation, #sidebarOptions {
      flex: 1 1 auto;
    }
  }*/
  position: relative;
  #sidebarButtonsWrap, #sidebarNavigation {
    display: contents;
  }
  .closebtn {
    position: absolute;
    top: calc(var(--sidebar-header-top) + (var(--sidebar-header-font-size) - var(--sidebar-btn-font-size)) / 2);
    left: calc((-1em * 36.7125 / 36) - abs(var(--sidebar-padding-lr) - var(--sidebar-btn-font-size) * 1.02) / 2);
    font-size: var(--sidebar-btn-font-size);
    color: var(--palette-stroke-sidebar-base);
    &:hover {
      text-decoration:none;
      color: var(--palette-stroke-sidebar-header);
    }
  }
  z-index: 100;
}
#sidebarOptions {display:none;}

.openbtn {
  display: block;
  width: auto;
  box-sizing: border-box;
  font-size: var(--sidebar-btn-font-size);
  cursor: pointer;
  background-color: var(--palette-fill-sidebar);
  color: var(--palette-stroke-sidebar-base);
  padding: var(--sidebar-btn-padding);
  border: none;
  word-wrap:normal;
  text-align:left;
  &:hover {
    background-color: var(--palette-fill-sidebar-hover);
  }
  ul {
    margin-top: 0;
    li.sidebar_btn_contents {
      padding: 0;
      margin: 0;
      list-style: sidebar_btn !important;
    }
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* On narrower screens, where width is less than 750px, change the style of 
the sidenav list icons (less padding and smaller font size) */
@media screen and (max-width: 750px) {
  .square_list li,
  .square_list li li{
    padding-left: 0.3em;
    font-size: 1em;
  }
}

@counter-style square_level1 {
  system: cyclic;
  symbols: '■'; /* A single star character */
  suffix: " "; 
}
@counter-style square_level2 {
  system: cyclic;
  symbols: '❖';
  suffix: " "; 
}
@counter-style square_level3 {
  system: cyclic;
  symbols: '»';
  suffix: " "; 
}

.square_list {
  li {
    display: list-item;
    position: relative;
  }
  ul, ol {
    -webkit-column-count: var(--sidebar-column-count);
    -webkit-column-gap: var(--sidebar-column-gap);

    -moz-column-count:var(--sidebar-column-count);
    -moz-column-gap: var(--sidebar-column-gap);

    -o-column-count: var(--sidebar-column-count); 
    -o-column-gap: var(--sidebar-column-gap);

    column-count: var(--sidebar-column-count);
    column-gap: var(--sidebar-column-gap);

    margin-left: var(--sidebar-square-margin-left);
    list-style: square_level1 !important;
    li {
      list-style-type: square_level1 !important;
      &::marker {
        font-size: 1.5em;
        line-height: 1em;
      }
    }
    &.square_test, .square_test {
      width: min-content !important;
    }
    ul, ol {
      -webkit-column-count: 1;
      -webkit-column-gap: 0;

      -moz-column-count: 1;
      -moz-column-gap: 0;

      -o-column-count: 1; 
      -o-column-gap: 0;

      column-count: 1;
      column-gap: 0;
      
      margin-left: var(--sidebar-square-margin-left);
      list-style: square_level2 !important;
      li {
        list-style-type: square_level2 !important;
        &::marker {
          font-size: 1.2em;
          line-height: 1em;
        }
      }
      &.square_test, .square_test {
        padding-left: 0 !important;
      }
      ul, ol {
        list-style: square_level3 !important;
        margin-left: var(--sidebar-square-margin-left);
        li {
          list-style-type: square_level3 !important;
          &::marker {
            font-size: 1.8em;
            line-height: 1em;
          }
        }
      }
    }
  }
}