/* Style the button that is used to open and close the collapsible content */
.collapsible {
  color: var(--palette-stroke);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;

  h2 {font-size: 1.35em;}
  h3 {font-size: 1.08em;}
  h4 {font-size: 0.9em;}
}
.collapsible-closed {
  background-color: var(--palette-fill-collapsible-closed);
  &:hover {
    background-color: var(--palette-fill-collapsible-open);
  }
}
.collapsible-open {
  background-color: var(--palette-fill-collapsible-open);
  &:hover {
    background-color: var(--palette-fill-collapsible-closed);
  }
}


/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
	background-color: var(--palette-fill);
	color: var(--palette-stroke);
}

.closecollapsibles, .opencollapsibles{
  position: fixed;
  right: var(--floating-margin);
  margin: 0;
  svg {
    color: var(--palette-stroke);
    background-color: var(--palette-fill);
    width: 1.5em;
    height: auto;
    border-radius: 0.25em;
    border: 1px solid var(--palette-stroke);
    box-shadow: var(--floating-shadow);
  }
}
.closecollapsibles {
  bottom: 2.1rem;
}
.opencollapsibles {
  bottom: 3.9rem;
}
