.table-wrapper {
	max-width: 100%;
	overflow-x: auto;
	overflow-y: clip;
}

table {
	margin: auto;
	margin-top: 1em;
	padding-bottom: 1em;
}

thead {
	font-weight: 700;
}

th {
	text-align: left;
}

th, td {
	padding: 0.2em;
	padding-left: 0.4em;
	padding-right: 0.4em;

	&:first-child {
		position: sticky;
		left: 0;
		background-color: var(--palette-fill-transparent);
	}
}

//Baldy Minigame Table Test
.beta {
	text-align: center;
	border-bottom: 10px solid black;
}
.beta .invisible {
	border: none;
	background-color:transparent;
}
.beta .leftHeader {
	font-weight: bold;
	background-color:#303030;
}
.beta th {
	background-color:#303030; 
}
.beta th, td {
	padding: 1em;
}