$table-border: 5px solid black;
$table-border-thin: 3px solid black;
$table-border-dashed: 3px dashed black;
$table-border-thin-neutral: 3px solid var(--palette-fill-table-headers-neutral);
$table-border-dashed-neutral: 3px dashed var(--palette-fill-table-headers-neutral);
$table-padding: 0.5em 0.4em 0.5em 0.4em;
$table-padding-narrow: 0.2em 0.1em 0.2em 0.1em;

table {
	max-width: 100% !important;
	overflow-x: scroll !important;
	overflow-y: clip !important;
	margin: auto;
	margin-top: 1em;
	padding-bottom: 1em;
	overflow-wrap: break-word;

	// CT guide tables
	.variable_summary {
		border: 5px solid blue !important;
		letter-spacing: 2px !important;
		font-family: sans-serif !important;
		font-size: .8rem !important;
	}
}
thead {
	font-weight: 700;
}
th {
	text-align: left;
}

th, td {
	padding: 0.2em;
	padding-left: 0.4em;
	padding-right: 0.4em;

	/*&:not(.rowspanned):first-child, &.rowspanned.first-column {
		position: sticky;
		left: 0;
		background-color: var(--palette-fill-transparent);
	}*/
}
table:not(.rowspanned) {
	th, td {
		&:first-child.invisible {
			position: sticky;
			left: 0;
			background-color: var(--palette-fill-transparent);
		}
	}
}
table.rowspanned {
	&.first-column {
		position: sticky;
		left: 0;
		background-color: var(--palette-fill-transparent);
	}
}
caption {
	margin-bottom: 1em;
}

// commonly used classes
.invisible {
	border: none !important;
	background-color: var(--palette-fill) !important;
}
.arrow {
	padding: 0em 0em 0em 0em;
}
.last_row {
	border-bottom: $table-border !important;
}
sub {
	vertical-align: sub;
}
tfoot td{
	font-size: 0.72rem;
	font-style: italic;
	text-align: left !important;
	border: none !important;
	background-color:transparent !important;
	font-weight: normal !important;
	color: var(--palette-stroke) !important;
}

//New Table Look
.newwords {
	text-align: center;

	.leftHeader, .leftlastHeader {
		font-weight: bold;
		border-right: $table-border;
	}
	.leftHeader, .leftlastHeader, th, .invisibleSubHeader {
		color: var(--palette-stroke-table-headers);
		background-color:var(--palette-fill-table-headers-light);
	}
	.leftlastHeader, th{
		border-bottom: $table-border;
	}
	.invisibleSubHeader {
		border-bottom: none !important;
	}
	th, td{
		text-align: center;
		padding: $table-padding;
		//border-bottom: none !important;
	}
}

%routing {
  margin-left: 0;
	margin-top: 0;
	th {
		text-align: center;
	}
}
//Graduation Routing
.graduation_routing {
	@extend %routing;
}
//Milestone Routing
.milestone_routing {
	@extend %routing;
	.perm_upg {
		color: var(--palette-stroke-warning);
	}
}

// ranking tables
.rankings {
	th, td {
		border: 1px solid var(--black-white);
		text-align: center;
		vertical-align: middle;
	}
}


// breakdown tables
%breakdown_headers {
  color: var(--palette-stroke-table-headers);
  background-color: var(--palette-fill-table-headers-dark);
	font-weight: bold;
	border-right: $table-border;
}
.breakdown {
	word-break: keep-all;
	.category {
		color: var(--palette-stroke-table-headers);
		background-color: var(--palette-fill-table-headers-neutral) !important;
		font-weight: bold;
		border-top: $table-border-thin;
		border-bottom: $table-border-thin;
		border-right: none !important;
	}
	.bheader {
		@extend %breakdown_headers;
		border-left: $table-border-thin;
	}
	&:not(.rowspanned) .bheader:first-child, &.rowspanned .first-column.bheader {
		border-left: none;
	}
	td {
		padding: $table-padding;
		text-align: center;
		/*&:not(.rowspanned):first-child, &.rowspanned.first-column {
			@extend %breakdown_headers;
		}*/
	}
	&:not(.rowspanned) td:first-child, &.rowspanned .first-column {
		@extend %breakdown_headers;
	}
	th {
		background-color:var(--palette-fill-table-headers-light) !important;
		border-bottom: $table-border;
		padding: $table-padding;
		text-align: center;
		&.invisible {
			background-color: var(--palette-fill) !important;
		}
	}
	tbody th{
		/*&:not(.rowspanned):first-child, &.rowspanned.first-column {
			border-left: none;
		}*/
		font-weight: bold;
		border-right: $table-border;
		border-bottom: none;
		border-left: $table-border-thin;
	}
	&:not(.rowspanned) tbody th:first-child, &.rowspanned .first-column {
		border-left: none;
	}
}

.variable_description {
	word-break: keep-all;
	td {
		padding: $table-padding;
		text-align: left;
		/*&:not(.rowspanned):first-child, &.rowspanned.first-column {
			@extend %breakdown_headers;
			text-align: center;
		}*/
	}
	&:not(.rowspanned) td:first-child, &.rowspanned .first-column {
		@extend %breakdown_headers;
		text-align: center;
	}
	th {
		color: var(--palette-stroke-table-headers);
		background-color:var(--palette-fill-table-headers-light);
		border-bottom: $table-border;
		padding: $table-padding;
		text-align: center;
	}
	tbody th{
		/*&:not(.rowspanned):first-child, &.rowspanned.first-column {
			border-left: none;
		}*/
		font-weight: bold;
		border-right: $table-border;
		border-bottom: none;
		border-left: $table-border-thin;
	}
	&:not(.rowspanned) tbody th:first-child, &.rowspanned .first-column {
		border-left: none;
	}
}

%strat {
	word-break: keep-all;
	tbody tr td {
		padding: $table-padding;
		text-align: center;
	}
	&:not(.rowspanned) tbody tr td:first-child, &.rowspanned .first-column {
		color: var(--palette-stroke-table-headers);
		background-color: var(--palette-fill-table-headers-dark);
		font-weight: bold;
		border-right: $table-border-thin !important;
	}
	th, thead tr td {
		color: var(--palette-stroke-table-headers);
		background-color: var(--palette-fill-table-headers-neutral);
		font-weight: bold;
		//border-top: $table-border-thin;
		padding: $table-padding;
		text-align: center;
	}
	tbody {
		border-top: $table-border;
	}
	//tbody, thead tr:first-child {
	/*tbody {
		border-left: $table-border-thin;
	}*/
	/*&.rowspanned .middle-column, &.rowspanned .left-column {
		border-left: none !important;
	}*/
}
.strat {
	@extend %strat;
}
.strat_left {
	@extend %strat;
	td, th {
		text-align: left;
	}
}
.strat_separated {
	@extend %strat;
	th, thead tr td {
		border-right: $table-border-thin;
		/*&:not(.rowspanned):last-child, &.rowspanned.last-column {
			border-right: none !important;
		}*/
	}
	&:not(.rowspanned) {
		th, thead tr td {
			&:last-child {
				border-right: none !important;
			}
		}
	}
	&.rowspanned {
		.last-column {
			border-right: none !important;
		}
	}
}
.strat_split {
	@extend %strat;
	th, td {
		vertical-align: middle;
		&:last-child {
			border-right: $table-border-thin !important;
		}
		&:first-child.invisible {
			border-right: $table-border-thin !important;
			border-left: none !important;
		}
		&.invisible {
			background-color: var(--palette-fill) !important;
		}
	}
	tfoot th, tfoot td {
		&:last-child {
			border-right: none !important;
		}
	}
	tbody tr td {
		border-bottom: $table-border-thin;
	}
	&:not(.rowspanned) tbody tr td:not(:first-child), &.rowspanned :not(caption):not(tfoot) :not(.first-column) {
		border-right: $table-border-dashed-neutral;
		&.dashed_r, &.dashed_right {
			border-right: $table-border-dashed-neutral !important;
		}
		&.dashed_l, &.dashed_left {
			border-left: $table-border-dashed-neutral !important;
		}
		&.dashed_t, &.dashed_top {
			border-top: $table-border-dashed-neutral !important;
		}
		&.dashed_b, &.dashed_bottom {
			border-bottom: $table-border-dashed-neutral !important;
		}
		&.dashed {
			border: $table-border-dashed-neutral !important;
		}
	}
	&:not(.rowspanned) thead tr td:not(:first-child), &:not(.rowspanned) th:not(:first-child) {
		&.dashed_r, &.dashed_right {
			border-right: $table-border-dashed !important;
		}
		&.dashed_l, &.dashed_left {
			border-left: $table-border-dashed !important;
		}
		&.dashed_t, &.dashed_top {
			border-top: $table-border-dashed !important;
		}
		&.dashed_b, &.dashed_bottom {
			border-bottom: $table-border-dashed !important;
		}
		&.dashed {
			border: $table-border-dashed !important;
		}
	}
	svg, .MathJax, span, sub {
		border: none !important;
	}
	&:not(.rowspanned) tbody tr td:first-child, &.rowspanned .first-column {
		border-right: $table-border-thin;
	}
	th, thead tr td {
		//border-top: $table-border-thin;
		border-right: $table-border-dashed !important;
		/*&:not(.rowspanned):last-child, &.rowspanned.last-column {
			border-right: $table-border-thin;
		}*/
		border-bottom: $table-border-thin !important;
	}
	&.rowspanned {
		.last-column {
			border-right: $table-border-thin !important;
		}
	}
	
	/*&:not(.rowspanned) td:first-child.invisible {
		border-right: $table-border-thin !important;
	}
	&.rowspanned .first-column.invisible {
		border-right: $table-border-thin !important;
	}*/
}