pre {
  margin-top: 1em;
  max-width: 100%;
  overflow-x: auto;
  background-color: var(--palette-fill-lc);

  code {
    display: inline-block;
    font-family: monospace;

    margin: 1em;
  }
}