body {
	background-color: var(--palette-fill);
	color: var(--palette-stroke);
	padding-bottom: 25vh;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: visible;
}

.content-wrapper, footer {
	margin-top: 1rem;
}