body {
	background-color: #222;
	color: #ccc;
	padding-bottom: 25vh;
}

.header, .content-wrapper, footer {
	max-width: 31rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
}

.content-wrapper, footer {
	margin-top: 1rem;
}

.header::after {
	content: "";
	display: block;
	margin-top: 1em;
	border-bottom: #ccc solid 2px;
}