@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--font-size:max(75%, 60% + 1.5vmin);
	--font-size-sm: calc(var(--font-size) * 6 / 9);
	font-size: var(--font-size);
	--body-line-height: 1.4;
	--body-line-height-sm: calc(var(--body-line-height) * 6 / 7);

	font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
}

p {
	line-height: var(--body-line-height);
}