@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	font-size: max(75%, 60% + 1.5vmin);
	--body-line-height: 1.4;

	font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
}

p {
	line-height: var(--body-line-height);
}