:root {
  --palette-fill: #222;
  --palette-fill-transparent: rgba(34, 34, 34, 0.85);
  --palette-fill-lc: #444;
  --palette-stroke: #ccc;
  --palette-stroke-hc: #fff;
  --palette-stroke-warning: #f88;
  --palette-fill-shadow: rgba(255, 255, 255, 0.25);

  
	--palette-fill-table-headers: #7c7c7c;
	--palette-fill-table-headers-dark: #5a5858;
	--palette-stroke-table-headers: #ccc;
  --palette-fill-sidebar-hover: #444;
  --palette-fill-sidebar: #111;
  --palette-stroke-sidebar-base: #ccc;
  --palette-stroke-sidebar-header-hover: #fff;
}

@media(prefers-color-scheme: light) {
  :root {
    --palette-fill: #fff;
    --palette-fill-transparent: rgba(255, 255, 255, 0.85);
    --palette-fill-lc: #d0d0d0;
    --palette-stroke: #444;
    --palette-stroke-hc: #333;
    --palette-stroke-warning: #b22;
    --palette-fill-shadow: rgba(34, 34, 34, 0.25)
  }
}

:root.light-mode {
  --palette-fill: #fff;
  --palette-fill-transparent: rgba(255, 255, 255, 0.85);
  --palette-fill-lc: #d0d0d0;
  --palette-stroke: #444;
  --palette-stroke-hc: #333;
  --palette-stroke-warning: #b22;
  --palette-fill-shadow: rgba(34, 34, 34, 0.25)
}

:root.dark-mode {
  --palette-fill: #222;
  --palette-fill-transparent: rgba(34, 34, 34, 0.85);
  --palette-fill-lc: #444;
  --palette-stroke: #ccc;
  --palette-stroke-hc: #fff;
  --palette-stroke-warning: #f88;
  --palette-fill-shadow: rgba(255, 255, 255, 0.25);
}