:root {
  --palette-fill: #222;
  --palette-fill-transparent: rgba(34, 34, 34, 0.85);
  --palette-fill-lc: #444;
  --palette-stroke: #ccc;
  --palette-stroke-hc: #fff;
  --palette-stroke-warning: #f88;
  --palette-fill-shadow: rgba(255, 255, 255, 0.25);
  --palette-fill-collapsible-closed: #1b1b1b;
  --palette-fill-collapsible-open: #111111;

  
	--palette-fill-table-headers-light: #7c7c7c;
	--palette-fill-table-headers-dark: #5a5858;
	--palette-fill-table-headers-neutral: #6a6868;
	--palette-stroke-table-headers: #cdcdcd;
  --palette-fill-sidebar-hover: #444;
  --palette-fill-sidebar: #111;
  --palette-stroke-sidebar-base: #d3bbbb;
  --palette-stroke-sidebar-header-hover: #fff;
}


@media(prefers-color-scheme: light) {
  :root {
  --palette-fill: #fff;
  --palette-fill-transparent: rgba(255, 255, 255, 0.85);
  --palette-fill-lc: #d0d0d0;
  --palette-stroke: #444;
  --palette-stroke-hc: #333;
  --palette-stroke-warning: #b22;
  --palette-fill-shadow: rgba(34, 34, 34, 0.25);
  --palette-fill-collapsible-closed: #e0e0e0;
  --palette-fill-collapsible-open: #b8b8b8;
	--palette-fill-table-headers-light: #7c7c7c;
	--palette-fill-table-headers-dark: #5a5858;
	--palette-fill-table-headers-neutral: #6a6868;
  }
}
:root.light-mode {
  --palette-fill: #fff;
  --palette-fill-transparent: rgba(255, 255, 255, 0.85);
  --palette-fill-lc: #d0d0d0;
  --palette-stroke: #444;
  --palette-stroke-hc: #333;
  --palette-stroke-warning: #b22;
  --palette-fill-shadow: rgba(34, 34, 34, 0.25);
  --palette-fill-collapsible-closed: #e0e0e0;
  --palette-fill-collapsible-open: #b8b8b8;
	--palette-fill-table-headers-light: #7c7c7c;
	--palette-fill-table-headers-dark: #5a5858;
	--palette-fill-table-headers-neutral: #6a6868;
}

:root.dark-mode {
  --palette-fill: #222;
  --palette-fill-transparent: rgba(34, 34, 34, 0.85);
  --palette-fill-lc: #444;
  --palette-stroke: #ccc;
  --palette-stroke-hc: #fff;
  --palette-stroke-warning: #f88;
  --palette-fill-shadow: rgba(255, 255, 255, 0.25);
  --palette-fill-collapsible-closed: #1b1b1b;
  --palette-fill-collapsible-open: #111111;
	--palette-fill-table-headers-light: #7c7c7c;
	--palette-fill-table-headers-dark: #5a5858;
	--palette-fill-table-headers-neutral: #6a6868;
}